.img{
     position: fixed;
    background-image: url("../JPG/NSBM.jpg");
    height: 92.5%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 0;
}

h1{
    text-align:center;
    color: greenyellow;
    margin: 0;
    padding-top: 22px;
    font-size: 30pt;
}

.con{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0,0,0,0.6);
}


.computing{
    color: white;
    font-family: arial;
    cursor: pointer;
    font-size: 20px;
    line-height: 35px;
    width: 325px;
    background-color: rgba(0,0,0,0.6);
    height: 450px;
    margin-top: 40px;
    margin-left: 100px;
    float: left;
    
}
.school{
    color: white;
    font-family: arial;
    cursor: pointer;
    font-size: 20px;
    float: left;
    width: 835px;
    background-color: rgba(0,0,0,0.6);
    height: 220px;
    margin-top: 40px;
    margin-left: 20px
}
.school2{
    color: white;
    font-family: arial;
    cursor: pointer;
    font-size: 20px;
    float: left;
    width: 835px;
    background-color: rgba(0,0,0,0.6);
    height: 210px;
    margin-top: 20px;
    margin-left: 20px;
}
.computing ul{
    
    padding: 10px;
    margin-left: 40px;
    text-align: center;
}

.computing ul li{
    list-style: none;
    line-height: 35px;
    font-family: arial;
    display: block;
    position: relative;
    padding: 10px;
}

.computing ul li a{
    color: white;text-align: center;
    
    text-decoration: none;
}

.computing ul li:hover{
    background-color: greenyellow;
    color: black;
}

.computing ul li a:hover{
    color: black;
    font-weight: bold;
}
.aa{
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 30pt;
    padding-left: 200px;
    
}
.aa:hover{
    font-size: 35pt;
    font-weight: bold;
    
    
}